@model Student
<form method="post" action="/Student/Create">
    <div>
    <label asp-for="Name" ></label>
    <input asp-for="Name" />
        <span asp-validation-for="Name" class="alert-danger"></span>
    </div>
    <br />
    <div>
    <label asp-for="Address"></label>
    <input asp-for="Address" />
    <span asp-validation-for="Address" class="alert-danger"></span>
    </div>
    <br />
    <input type="submit" value="Create" />
</form>
<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
<script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>