@model CourseResult
<table class="table table-bordered table-hover">
    <thead>
    <th>Course</th>
    <th>Degree</th>
    <th>Trainers</th>
    </thead>
    <tbody>

    <td>@Model.Course.Name</td>
    <td>@Model.Degree</td>

    <td>@Model.Trainee.Name</td>
    </tbody>
</table>
